.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #009e66 inset, 0 0 0 0 #009e66;
    /* la siguiente linea maneja el tiempo 
Especifica un efecto de transición con un inicio lento (equivalente a cubic-bezier (0.42,0,1,1)) */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 20px;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #009e66 inset, 0 0 10px 4px #009e66;
  }